/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lobster&family=Noto+Sans:wght@400;500;600&family=Open+Sans&family=Poppins:wght@500&family=Work+Sans:wght@500&display=swap');

/* Variables */
:root {
    --body-color: rgba(255, 144, 14, 0.1);
    --highlight-color: #FF900E;
    --paragraph-color: #727272;
    --white-color: #ffffff;
    --dark-black: #131313;
}

/* Common Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.section-primary {
    width: 80vw;
    margin: 0 auto;
    max-width: 100%;
}

.btn-primary {
    color: var(--white-color);
    font-size: 20px;
    border-radius: 8px;
    border: none;
    padding: 20px 25px;
    background-color: var(--highlight-color);
    transition: 0.5s ease-in-out;
}

.btn-primary:hover {
    background-color: rgb(37, 37, 43);
    color: var(--highlight-color);
}

img {
    height: 100%;
    width: 100%;
}

/* Header Section */
.header {
    background-color: var(--body-color);
    ;
}

/* Nav Bar Section*/
nav {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.company-name {
    font-size: 2rem;
    letter-spacing: 2px;
    cursor: pointer;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    padding-right: 20px;
    color: #424242;
    text-decoration: none;
    transition: 0.4s ease;
}

nav ul li a:hover {
    color: cornflowerblue;
}

/* Banner Section */
.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin: 105px 0;
}

.banner-content {
    text-align: center;
}

.banner-title {
    font-size: 4rem;
    padding-bottom: 50px;
}

.banner-description {
    line-height: 2rem;
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 32px;
    color: var(--paragraph-color);
}

.banner-img {
    width: 85vw;
    height: 700px;
    border-radius: 8px;
    margin-bottom: 45px;
}

/* Features Section */
.features-images-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.features-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
}

.features-img {
    width: 342px;
    height: 342px;
}

.features-title {
    font-weight: 600;
    font-size: 2.8rem;
}

.first-two {
    color: var(--paragraph-color);
}

.second-two {
    color: var(--dark-black);
}

.third-one {
    color: var(--highlight-color);
}

.features-description {
    padding: 30px 0;
    font-weight: 400;
    font-size: 1rem;
    color: var(--paragraph-color);
}

.features-section {
    margin-bottom: 85px;
}

/* Love & Enjoy Section */
.love-enjoy-container {
    display: flex;
    gap: 140px;
    margin-bottom: 130px;
    position: relative;
}

.love-enjoy-box {
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    margin: 20px 0;
}

.love-enjoy-text {
    width: 50%;
}

.love-enjoy-img {
    width: 708px;
    height: 982px;
    width: 50%;
}

.love-enjoy-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.love-enjoy-text h1 {
    font-size: 2rem;
    font-weight: 700;
    padding-left: 20px;
    margin-bottom: 25px;
    border-left: 4px solid var(--highlight-color);
}

.love-enjoy-text p {
    font-size: 1rem;
    font-weight: 700;
    color: var(--paragraph-color);
}

.experience-btn {
    padding: 45px 42px;
    border-radius: 8px;
    background-color: var(--highlight-color);
    width: 10vw;
    position: absolute;
    bottom: 0%;
    left: 50%;
}

.experience-btn h1 {
    font-size: 3.5rem;
    color: var(--white-color);
}

.experience-btn p {
    font-size: 1.5rem;
    color: var(--white-color);
}

/* Some Facts Section */
.some-fact-section {
    margin-bottom: 180px;
}

.some-fact-box-container {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    justify-items: center;
}

.some-fact-title {
    font-weight: 700;
    font-size: 2.8rem;
    padding-bottom: 20px;
}

.some-fact-description {
    font-size: 1.1rem;
    color: var(--paragraph-color);

}

.some-fact-box {
    border: 1px solid var(--highlight-color);
    width: 50%;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    transition: scale 1s ease-in-out;
}

.some-fact-box:hover {
    transform: scale(1.2);
    background-color: rgb(255, 217, 0);
    z-index: 2;

}

.some-fact-box img {
    width: 40px;
    height: 40px;
}

.some-fact-box h1 {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 10px 0;
}

.some-fact-box p {
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 25px;
    color: var(--paragraph-color);
}

/* Popular Projects Section Starts */
.project-box img {
    width: 300px;
    height: 200px;
    border-radius: 8px;
}

.popular-project-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}

.project-box {
    border-radius: 8px;
    width: 300px;
    padding: 25px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
}

.popular-projects-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

.project-box h3 {
    padding: 15px 0;
    font-size: 2rem;
    color: var(--dark-black);
}

.project-box p {
    font-size: 1rem;
    color: var(--paragraph-color);
}

/* Sponsor Section Starts*/
.section-sponsor {
    margin-bottom: 130px;
}

.sponsor-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.sponsor-logo img {
    width: 165px;
    height: 50px;
}

.sponsor-text-container {
    text-align: center;
}

.sponsor-text-container h1 {
    color: var(--dark-black);
    font-weight: 700;
    font-size: 2.8rem;
}

.sponsor-text-container p {
    font-size: 1rem;
    padding-top: 25px;
    color: var(--paragraph-color);
}

.sponsor-logo img {
    filter: grayscale(1);
}

.sponsor-company-logo {
    display: flex;
    justify-content: space-between;
}

/* Footer Section */
.footer-text {
    opacity: 0.7;
    font-weight: 400;
    font-size: 1.25rem;
    padding: 40px 0;
}

.footer {
    margin-bottom: 215px;
    text-align: center;
    border-radius: 8px;
    background-color: var(--body-color);
}

/* ----------------
Media Query
------------------- */
@media only screen and (max-width:576px) {
    /* Common Styles */
    * {
        margin: 0 auto;
    }
    
    .section-primary {
        width: 100vw;
        margin: 0 auto;
        max-width: 100%;
    }
    
    /* navigation */
    nav {
        margin-top: -20px;
        flex-direction: column;
        gap: 20px;
    }
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        padding: 10px 0;
        font-weight: bold;
    }

    .company-name h3 {
        font-size: 1.5rem;
    }

    nav ul li a {
        font-size: 1rem;
        margin-left: 10px;
    }

    /* Banner  */
    .banner-title {
        font-size: 2.5rem;
    }

    .banner-content {
        width: 70vw;
    }

    .banner-img {
        width: 95%;
        height: 40vh;
        margin: 0 auto;
    }

    /* Features  */
    .features-container {
        margin-bottom: 50px;
        flex-direction: column-reverse;
    }

    .features-images-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .features-text-container {
        text-align: center;
        width: 95vw;
    }

    .features-img {
        width: 90vw;
    }

    /* Love and Enjoy */
    .love-enjoy-container {
        flex-direction: column;
        gap: 30px;
    }

    .love-enjoy-text,
    .love-enjoy-img {
        width: 80vw;
    }

    .love-enjoy-img {
        height: 55vh;
    }

    .experience-btn {
        position: relative;
        left: 0%;
        bottom: 15%;
        padding: 10px;
        width: 53vw;
    }

    /* Some Fact  */
    .some-fact-box-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .some-fact-box {
        width: 100px;
    }

    .some-fact-text-container {
        text-align: center;
    }

    .some-fact-section {
        margin-bottom: 100px;
    }

    /* Popular Projects Section Starts */
    .popular-projects-container {
        flex-direction: column;
        max-width: 100%;
        gap: 20px;
    }

    .project-box {
        width: 80vw;
    }

    .project-box img {
        width: 100%;
        height: 100%;
    }

    /* Sponsor Section */
    .sponsor-container {
        text-align: center;
    }

    .sponsor-company-logo {
        flex-wrap: wrap;
        gap: 20px;
    }

    .sponsor-logo img {
        height: 50px;
        width: 100px;
        margin: 0;
    }

    /* Footer Section */
    .footer {
        margin-top: 50px;
    }

    .footer-text {
        font-size: 0.8rem;
    }
}